{
	"printWidth": 120,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"parser": "typescript",
	"jsxBracketSameLine": false
}
